In [1]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [2]:
rdd = sc.textFile('pets.csv')

In [3]:
rdd.take(5)

['name,pets', 'timmy,dog|cat|rat', 'jimmy,dog', 'billy,cat|fish', 'sally,']

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [10]:
df = spark.read.option("header", "true").csv('pets.csv')

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
type(rdd)

pyspark.rdd.RDD

In [8]:
type(df.rdd)

pyspark.rdd.RDD

In [11]:
df.show(5)

+-----+------------+
| name|        pets|
+-----+------------+
|timmy| dog|cat|rat|
|jimmy|         dog|
|billy|    cat|fish|
|sally|        null|
|molly|iguana|snake|
+-----+------------+

In [13]:
df_no_na = df.na.drop()

In [16]:
df_no_na.rdd.map(lambda x: ( x.name, x.pets.split('|') )).take(5)

[('timmy', ['dog', 'cat', 'rat']),
 ('jimmy', ['dog']),
 ('billy', ['cat', 'fish']),
 ('molly', ['iguana', 'snake'])]